@model LoginVM

<div class="login-main">

    <div class="login-box">
        <h2>Forum login</h2>
        <p>Enter your details for sign in to your account.</p>
        <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
        <form method="post">
            <label asp-for="Username">
                <input asp-for="Username" placeholder="Username">
                <span>Username</span>
            </label>
            <span asp-validation-for="Username" class="text-danger mb-2"></span>

            <label asp-for="Username">
                <input asp-for="Password" placeholder="Password">
                <span>Password</span>
            </label>
            <span asp-validation-for="Password" class="text-danger mb-2"></span>

            <div class="input-group">
                <input asp-for="IsPersistent">

                <label asp-for="IsPersistent" class="ms-2">Remember me</label>
            </div>

            <button type="submit">Login</button>

            <p class="register-text">Don't have an account? <a asp-controller="account" asp-action="register" class="register-btn">Register now</a></p>
        </form>
    </div>

</div>